
<html xmlns:th="http://www.thymeleaf.org">
	<body>
	
	<form action="#" th:action =" @{/admin/newFlight2}" th:object = "${flightInformation}" method = "post">
	

	<table>
		
		<tr>
			<td>Please choose the take-off airport</td>
			<td>
			<select name="airportFrom" th:field="*{airportFrom.airportCode}" >
				<option th:each="airportFrom: ${airports}" th:value="${airportFrom.airportCode}" th:text="${airportFrom.getAirportCode()}">
				</option>
			</select>
			</td>
			
		</tr>
		
		
		<tr>
			<td>Please choose the landing airport</td>
			<td>
			<select name="airportTo" th:field="*{airportTo.airportCode}" >
				<option th:each="airportTo: ${airports}" th:value="${airportTo.airportCode}" th:text="${airportTo.getAirportCode()}">
				</option>
			</select>
			</td>
			
		</tr>
		
		
		
		<tr>
			<th class="align-right">Start date</th>
			<!--  <td><input type = "date" th:field="*{departureDate}"></td> -->
			<td> <input type = "datetime-local" th:field="*{departureDate}"> </td>

		</tr>
		
		
		<tr>
			<td>Please insert a Flight Duration</td>
			<td> <input type = "text"th:field="*{flightDuration}"> </td>
			<td th:if="${#fields.hasErrors('flightDuration')}" th:errors="*{flightDuration}"></td>
			
		</tr>
		

		<tr>
			<td>Please insert a Flight passenger capacity</td>
			<td> <input type = "text"th:field="*{passengerCapacity}"> </td>
			<td th:if="${#fields.hasErrors('passengerCapacity')}" th:errors="*{passengerCapacity}"></td>
			
		</tr>

		<tr>
			<td>Please insert a Flight price</td>
			<td> <input type = "text"th:field="*{price}"> </td>
			<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
			
		</tr>
		
		
	</table>
	

	<input type = "submit">
	
	</form>
	
	</body>

</html>