<html xmlns:th="http://www.thymeleaf.org">
	<body>
	
	<form action="#" th:action =" @{/admin/newFlight}" 
	th:object = "${flight}" method = "post">
	
	<table>
		<tr>
			<td>Please insert an Airport From</td>
			<td> <input type = "text"th:field="*{airportFrom}"> </td>
			<td th:if="${#fields.hasErrors('airportFrom')}" th:errors="*{airportFrom}"></td>
			
		</tr>
		<tr>
			<td>Please insert an Airport To</td>
			<td> <input type = "text"th:field="*{airportTo}"> </td>
			<td th:if="${#fields.hasErrors('airportTo')}" th:errors="*{airportTo}"></td>
			
		</tr>
		<tr>
			<td>Please insert a Departure Date</td>
			<td> <input type = "text"th:field="*{departureDate}"> </td>
			<td th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></td>
			
		</tr>
		<tr>
			<td>Please insert a Flight Duration</td>
			<td> <input type = "text"th:field="*{flightDuration}"> </td>
			<td th:if="${#fields.hasErrors('flightDuration')}" th:errors="*{flightDuration}"></td>
			
		</tr>
		
		<tr>
			<td>Please insert a Flight passenger capacity</td>
			<td> <input type = "text"th:field="*{passengerCapacity}"> </td>
			<td th:if="${#fields.hasErrors('passengerCapacity')}" th:errors="*{passengerCapacity}"></td>
			
		</tr>
		<tr>
			<td>Please insert a Flight price</td>
			<td> <input type = "text"th:field="*{price}"> </td>
			<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
			
		</tr>
		
		
	</table>
	

	<input type = "submit">
	
	</form>
	
	</body>

</html>