
<html xmlns:th="http://www.thymeleaf.org">
	<body>
	
	<form action="#" th:action =" @{/admin/newFlight2}" th:object = "${flightInformation}" method = "post">
	

	<table>
		
		<tr>
			<td>Please choose the take-off airport</td>
			<td>
			<select  name = "airport" th:field="*{airportFrom}" >
				<option th:each="airport: ${innerObject}" th:value="${airport.getA_ID()}" th:text="${airport.getAirportCode()}">
				</option>
			</select>
			</td>
			
		</tr>
		
		<!--  
		<tr>
			<td>Please choose the landing airport</td>
			<td> <input type = "text"th:field="*{airportFromAndTo}"> </td>
			<td th:if="${#fields.hasErrors('airportFromAndTo')}" th:errors="*{airportFromAndTo}"></td>
			
		</tr>
		<tr>
			<td>Please insert a Departure Date</td>
			<td> <input type = "text"th:field="*{departureDate}"> </td>
			<td th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></td>
			
		</tr>
		-->
		<tr>
			<td>Please insert a Flight Duration</td>
			<td> <input type = "text"th:field="*{flightDuration}"> </td>
			<td th:if="${#fields.hasErrors('flightDuration')}" th:errors="*{flightDuration}"></td>
			
		</tr>
		<!--  
		<tr>
			<td>Please insert a Flight passenger capacity</td>
			<td> <input type = "text"th:field="*{passengerCapacity}"> </td>
			<td th:if="${#fields.hasErrors('passengerCapacity')}" th:errors="*{passengerCapacity}"></td>
			
		</tr>
		-->
		<tr>
			<td>Please insert a Flight price</td>
			<td> <input type = "text"th:field="*{price}"> </td>
			<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
			
		</tr>
		
		
	</table>
	

	<input type = "submit">
	
	</form>
	
	</body>

</html>