<html xmlns:th="http://www.thymeleaf.org">
	<body>
	
	
	
	<p th:text="'Hello ' +${innerObjectRegUName}+'! Here is Your bookings list:' "></p>
	<p>My products</p>
	
	<table>
	<tr th:each="boardingPass: ${innerObjectBoardPass}">
    <td th:text="${flight.getAirportFrom()}" />
    <td th:text="${flight.getAirportTo()}" />
    <td th:text="${flight.getDepartureDate()}" />
    <td th:text="${flight.getFlightDuration()}" />
    <td th:text="${flight.getPassengerCapacity()}" />
    <td th:text="${flight.getPrice()}" />
    
</tr>
	
	</table>

	</body>

</html>